---
layout: page
title: Curriculum
permalink: /curriculum/
---
<div class="ui text container">
    <h2 class="ui header">Education</h2>
    <div class="ui segment">
        <div class="ui relaxed divided list">
            {% for edu in site.data.education %}
            <div class="item">
                <div class="right floated content">{{ edu.institution }}</div>
                <div class="header">{{ edu.degree }}</div>
                {{ edu.started }} - {{ edu.ended }}

            </div>
            {% endfor %}
        </div>
    </div>

    <h2 class="ui header">Work Experience</h2>
    <div class="ui segment">
        <div class="ui divided items">
            {% for exp in site.data.work_experience %}
            <div class="item">
                <div class="content">
                    <div class="right floated content">{{ exp.company }}</div>
                    <div class="header">{{ exp.jobtitle }}</div>
                    <div class="meta">
                        {{ exp.started }} - {{ exp.ended }}
                    </div>
                    <div class="description">
                        <p>{{ exp.description | markdownify}}</p>
                    </div>
                    {% if exp.leveraged %}
                    <div class="description">
                        <strong>Leveraged knowledge: </strong>{{ exp.leveraged }}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <h2 class="ui header">Other Experience</h2>
    <div class="ui segment">
        <div class="ui divided items">
            {% for exp in site.data.other_experience %}
            <div class="item">
                <div class="content">
                    <div class="header">{{ exp.title }}</div>
                    <div class="description">
                        <p>{{ exp.description | markdownify}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <h2 class="ui header">Programming Languages</h2>
    <div class="ui three stackable cards">
        {% for skill in site.data.skills %}
        <div class="card">
            <div class="content">
                <span class="right floated"><i style="font-size: 2rem" class="{{ skill.icon }}"></i></span>
                <div class="header">
                    {{ skill.language }}
                </div>
                <div class="extra">
                    {% for i in (1..10) %}
                        {% assign mod = i | modulo: 2 %}
                        {% if mod == 0 %}
                            <i class="star icon"></i>
                        {% endif %}
                        {% if i == skill.grade %}
                            {% if mod == 1 %}
                            <i class="half star icon"></i>
                            {% endif %}
                            {% break %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="ui divider"> </div>
                {% if skill.frameworks %}
                <div class="ui sub header">Frameworks</div>
                <ul class="ui list">
                    {% for framework in skill.frameworks %}
                    <li>
                        {{ framework }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if skill.projects %}
                <div class="ui sub header">Projects</div>
                <div class="ui horizontal selection list">
                    {% for project in skill.projects %}
                    <div class="ui item">
                        <a class="header" href="{{ site.base_url }}/projects{{ project | relative_url }}">
                            {{ project }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
    <div class="ui hidden divider"></div>
    <div class="ui center aligned segment">
        <div class="ui header">
            Looking for more information? Don't hesitate to contact me!
        </div>
        <a class="ui massive primary button" href="{{ site.base_url }}/contact">
            Contact
        </a>
    </div>
    

</div>