{% capture url_parts %} {{ page.url | replace: "/", " "}}{% endcapture %}
{% assign url_test = url_parts | split: " " %}
{% assign last_el = url_test.last %}
{% assign path = "/" %}
<div class="ui breadcrumb">
    <a class="section" href="{{ path }}">Home</a>
    <i class="right angle icon divider"></i>
    {% for part in url_test %}
    {% if part != last_el %}
    {% assign path = path | append: part %}
    {% assign path = path | append: "/" %}
    <a class="section" href="{{ path }}">{{ part }}</a>
    <i class="right angle icon divider"></i>
    {% endif %}
    {% endfor %}
    <div class="active section">{{ last_el }}</div>
</div>