<div class="ui center aligned basic segment">
    <div class="ui huge orange label">
        Featured Projects
    </div>
    <div class="ui center aligned basic segment" id="featured">
        {%- for project in site.projects -%}
            {%- if project.featured -%}
                {%- include featured_project.html project=project -%}
            {%- endif -%}
        {%- endfor -%}
    </div>
</div>

<script>
    $("#featured > a:gt(0)").hide();

    setInterval(function () {
        $("#featured > a:first")
            .transition("fade up")
            .addClass("featured-hide")
            .next()
            .transition("fade down")
            .removeClass("featured-hide")
            .end()
            .appendTo("#featured");
    }, 5000);
</script>