<footer>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">

            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="five wide column">
                    {%- include social.html -%}
                </div>
                <div class="ten wide column">
                    <h4>{{ site.title | escape }}</h4>
                    <p>{{- site.description | escape -}}</p>
                </div>
            </div>
        </div>
    </div>
</footer>