<header>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <div id="header" class="ui inverted segment">
        <div class="ui inverted large secondary pointing menu">
            <a class="item {% if page.url == '/' %}active{% endif %}" href="{{ "/" | relative_url }}">
                {{ site.title | escape }}
            </a>
            <a class="item {% if page.url contains '/curriculum/' %}active{% endif %}" href="/curriculum/">
                Curriculum
            </a>
            <a class="item {% if page.url contains '/projects/' %}active{% endif %}" href="/projects/">
                Projects
            </a>
            <a class="item {% if page.url contains '/blog/' %}active{% endif %}" href="/blog/">
                Blog
            </a>
            <div class="right menu">
                <a class="ui item {% if page.url contains '/contact/' %}active{% endif %}" href="/contact/">
                    Contact
                </a>
            </div>
        </div>
    </div>
</header>