---
layout: default
---
<div class="ui vertical masthead segment">
    {% include breadcrumb.html %}
    <div class="ui hidden divider"></div>

            <img class="ui fluid rounded image" src="{{ page.header }}">
            <h1 class="ui header">
                {{ page.title }}
                <div class="sub header">
                    {{ page.date | date: "%a %-d %b %y" }}
                </div>
            </h1>
            
            <div class="ui horizontal selection list">
            {% for tag in page.tags %}
            <div class="ui item">
                <div class="ui label">
                    {{ tag }}
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
<div class="ui text container" style="width: 700px"> 

        
        <div id="blog-content" class="ui basic segment">
            <div class="ui text container">
            {{ content }}
            </div>
        </div>

</div>


