---
layout: default
---
<div class="ui container">
    <img class="ui fluid rounded image" src="{{ page.header }}">

    <div class="ui hidden divider"></div>

    <div class="ui justified text container" id="blog-content">
        {{ content }}
        <div class="ui horizontal selection list">
            {% for tag in page.tags %}
                <div class="ui item">
                    <div class="ui label">
                        {{ tag }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if page.project %}
        <div class="ui divider"></div>


        <div class="ui center aligned text container">

            <button class="ui large primary button">More posts from this project</button>

        </div>

        <div class="ui hidden divider"></div>

        <div class="ui centered two cards">
            {% for project in site.projects %}
                {% if project.key == page.project %}
                    {% include project_view.html project=project %}
                {% endif %}
            {% endfor %}
        </div>

    {% endif %}
</div>