---
layout: page
---

<div class="ui segments">
    {%- include featured_projects.html -%}
    <div class="ui segment">
        <div class="ui fluid icon input">
            <input placeholder="Search for a project" type="text">
            <i class="search icon"></i>
        </div>
    </div>
</div>
<div class="ui text container">
    <div class="ui one stackable centered cards">
        {% for project in site.projects %}
            <a class="card" href="{{ project.url | relative_url }}">
                {% if project.thumb %}
                    <div class="image">
                        <img src="{{ project.thumb }}">
                    </div>
                {% endif %}
                <div class="content">
                    <div class="header">{{ project.title }}</div>
                    <div class="meta">
                        <span class="date">{{ project.started }}
                            -
                            {{ project.ended }}</span>
                    </div>
                    <div class="description">
                        {{ project.description }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>